* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #111111;
}
.user-input-cont {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.user-input-cont input {
    width: 300px;
    height: 40px;
    border: none;
}
.user-input-cont button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.pokemon-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}
.pokemon-data-cont h1 {
    color: #dfdfdf;
    font-size: 38px;
    margin-bottom: 50px;
}
.pokemon-data-cont img {
    width: 300px;
    margin-bottom: 50px;
}
.pokemon-data-cont p {
    color: #dfdfdf;
    margin: 20px;
}
.errorContainer {
    display: flex;
    justify-content: center;
}
.error {
    color: rgb(255, 75, 75);
    background-color: rgba(255, 75, 75, 0.2);
    border: 1px solid rgba(255, 75, 75, 0.2);
    width: 50%;
    height: 120px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
}